<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bixin.bluetooth">
    <!-- 允许一个程序获取信息有关当前或最近运行的任务，一个缩略的任务状态，是否活动等等 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 检索正在运行的应用的详细信息,恶意程序可借此获得其他应用的私密信息 -->
    <uses-permission android:name="android.permission.GET_DETAILED_TASKS" />
    <!-- 允许程序改变Z轴排列任务 -->
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <!-- 修改声音设置信息 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 接收开机广播权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 允许程序录制音频 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 读取电话状态的权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />

    <application
        android:name=".model.bean.BxBTApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.activity.BtHomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.IncomingActivity" />
        <activity android:name=".view.activity.CallActivity" />
        <activity android:name=".view.activity.TransparentActivity" />

        <service android:name=".model.service.GocsdkService"
            android:enabled="true"
            android:exported="true"/>
        <service android:name=".model.service.PlayerService" />
        <service android:name=".model.service.ScoService" />

        <receiver android:name=".model.service.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

    </application>

</manifest>